:root {
    --primary: cadetblue;
    --primary-dark: #0095A9;
    --primary-lightest: #2BDBE7;
    --gray-dark: #1A2329;
    --cold-gray-dark: dimgrey;
    --custom-ease: cubic-bezier(0.770, 0.000, 0.275, 1.000);
}

.loader {
    position: absolute;
    bottom: 15%;
    left: 35%;
    margin: 0 auto;
    width: 120px;
}

.loader__spinner {
    display: flex;
    margin-bottom: 10px;
}

.loader__bar {
    margin: 2px;
    width: 15px;
    height: 28px;
    border-radius: 4px;
    background: var(--primary);
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-name: loader-animation;
    animation-iteration-count: infinite;
    animation-timing-function: var(--custom-ease);
}

.loader__bar:nth-child(6n+1) {
    animation-delay: calc(1 * 0.15s);
}

.loader__bar:nth-child(6n+2) {
    animation-delay: calc(2 * 0.15s);
}

.loader__bar:nth-child(6n+3) {
    animation-delay: calc(3 * 0.15s);
}

.loader__bar:nth-child(6n+4) {
    animation-delay: calc(4 * 0.15s);
}

.loader__bar:nth-child(6n+5) {
    animation-delay: calc(5 * 0.15s);
}

@keyframes loader-animation {
    0% {
        transform: scaleY(1);
        background-color: var(--primary);
    }
    25% {
        transform: scaleY(0.07);
        background-color: var(--primary-lightest);
    }
    50% {
        background-color: var(--cold-gray-dark);
    }
    75% {
        transform: scaleY(0.07);
    }
    100% {
        background-color: var(--primary);
        transform: scaleY(1);
    }
}